@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Montserrat-Regular.woff2') format('woff2'),
         url('/fonts/Montserrat-Regular.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Montserrat-Bold.woff2') format('woff2'),
         url('/fonts/Montserrat-Bold.woff') format('woff');
  }



  @media (max-width: 767.98px) {
     .hide-on-mobile {
       display: none;
     }
   }

   .sticky {
    position: sticky;
    top: 100vh;
  }