@tailwind base;
@tailwind components;
@tailwind utilities;



  @media (max-width: 767.98px) {
     .hide-on-mobile {
       display: none;
     }
   }

  .sticky-parent {
    display: flex;
    height: 100%;
  }